<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <h3>{{email}}</h3>
</div>
<article class="about">
    <h2>About me</h2>
    <p>
        Bachelor of Computer Science with good algorithmic skills. Good skills in programming
        languages such as C ++, Python, PHP, JavaScript and others, as well as knowledge and
        experience in developing web applications using HTML, CSS, JavaScript, jQuery, MySQL and
        other technologies and frameworks. I also understand the operation and design of databases. I
        adapt easily to the changes and circumstances of the daily life of a company and to teamwork. I
        like to improve my skills and I always push myself to the fullest.
    </p>
</article>